body {
  margin: 0px;
}

.outer {
  width: 100%;
}

.inner {
  margin: 0 auto;
  max-width: 80%;
}

nav h1 {
  margin: 10px;
}

nav {
  margin: 0 auto;
}

.hero img {
  max-width: 100%;
}

.main-content {
  margin-top: 40px;
}
.answer h2 {
  text-align: center;
  margin-top: -25px;
}

.answer-span {
  background-color: #ffffff;
  padding: 4px;
}

.stuff-here {
  text-align: center;
  margin: 40px 0px 56px 0px;
}

footer {
  text-align: center;
}
