body {
  margin: 0px;
  background-color: #EEEEEE;
  color: mediumslateblue;
  font-family: 'Inconsolata', arial;
}

.outer {
  width: 100%;
}

.inner {
  margin: 0 auto;
  max-width: 80%;
}

nav h1 {
  margin: 10px;
}

nav {
  margin: 0 auto;
}

.hero img {
  max-width: 100%;
}

.main-content {
  margin-top: 40px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid mediumslateblue;
    margin: 8px;
    padding: 0;
}

p {
  line-height: 24px;
}

.answer h2 {
  text-align: center;
  margin-top: -25px;
}

.answer-span {
  background-color: #EEEEEE;
  padding: 4px;
}

.stuff-here {
  text-align: center;
  margin: 40px 0px 56px 0px;
}

footer {
  text-align: center;
  background-color: #4B484F;
  padding: 40px;
}
